.search-input-container{
    display:flex;
    align-items: center;
}
.search-input-table{
    height:20px;
}

.tablaAlumnos-container {
    max-width: none;
}
.tablaAlumnos-row-selected{
    font-weight: normal;
}

.practica-title-table {
    color: #003366;
}
.practica-filter-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.practica-top-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.practica-button{
    background-color: #003366;
    transition: background-color 0.3s ease;
}
.practica-button:disabled{
    background-color: #ccc;
}

.postulacion-cancelar-button{
    background-color: #E4332C;
    transition: background-color 0.3s ease;
}
.postulacion-cancelar-button:hover:not(:disabled){
    background-color: red;
    transition: background-color 0.3s ease;
}
.postulacion-cancelar-button:disabled{
    background-color: #ccc;
}