@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("animations.css");
html,
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;
	min-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: "Montserrat", sans-serif;
}
#root {
	min-width: 100%;
	min-height: 100vh;
	margin: 0 auto;
}

.page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin-top: 50px;
  }
  
  .input-container {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
  }
  
  button {
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
  }
  
  .error-message {
	color: red;
  }
  
  .success-message {
	color: green;
  }
  
  .register-button {
	margin-top: 20px;
  }
  
  .alumno-funciones {
    position: relative; /* Necesario para que el ::before se posicione relativo a este contenedor */
    background-image: url('../assets/fondoAlumno.webp');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.alumno-funciones::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
    z-index: 1; /* Coloca esta capa por encima de la imagen */
}

.alumno-funciones > * {
    position: relative; 
    z-index: 2; /* Asegura que el contenido esté encima del ::before */
}

.profesor-funciones {
  position: relative; /* Necesario para que el ::before se posicione relativo a este contenedor */
  background-image: url('../assets/fondoProfesor.webp');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.profesor-funciones::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  z-index: 1; /* Coloca esta capa por encima de la imagen */
}

.profesor-funciones > * {
  position: relative; 
  z-index: 2; /* Asegura que el contenido esté encima del ::before */
}

.error-box {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px
}

.error-message {
  margin: 0;
  font-weight: bold;
}