
.tabla-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 40px;
  max-width: 2000px; 
}

.tabla-header-cursoM {
  font-size: 3rem; 
  font-weight: bold; 
  color: #191d22; 
}

.tabla-horarios {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.tabla-horarios th,
.tabla-horarios td {
  border: 1px solid #ddd;
  padding: 12px;
}

.tabla-horarios th {
  background-color: #0055b3;
  color: white;
}

.contenido-col:hover {
  transform: scale(1.03);
  background-color: #f2f7ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
